<p id="notice"><%= notice %></p>

<div id="main">
  <div class="side_bar">
    <%= image_tag "profile.jpg",
    :class => "profile_image", :alt => "ふーの写真",
    :height => 250, :width => 250 %>
    <div class="profile">
      <h6>プロフィール</h6>
      <p>ネザーランドドワーフのふー</p>
      <p>0歳の◯◯子です</p>
    </div>

    <div class="new">
      <h4>新着記事</h4>
      <% @articles.each do |article| %>
      <div class="new_content">
        <div class="new_picture">
          <%= image_tag article.picture.url %>
        </div>
        <div class="new_title">
          <%= link_to article.title, article %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="main_list">
    <% @articles.each do |article| %>
    <div id="content">
      <div id="picture">
        <%= image_tag article.picture.url %>
      </div>
      <div id="title">
        <%= link_to article.title, article %>
      </div>
    </div>
        <!-- <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %> -->

    <% end %>
    <%= will_paginate @articles,  {:class => 'pagination', :previous_label => '前へ', :next_label => '次へ' } %>
  </div>
</div>
<br>


<%= link_to 'New Article', new_article_path %>
