<p id="notice"><%= notice %></p>

<div class="main">
  <div class="side_bar">
    <%= image_tag "profile.jpg",
    :class => "profile_image", :alt => "ふーの写真",
    :height => 250, :width => 250 %>
    <div class="profile">
      <h6>プロフィール</h6>
      <p>ネザーランドドワーフのふー</p>
      <p>0歳の◯◯子です</p>
    </div>

    <div class="new">
      <h4>新着記事</h4>
      <% @articles.each do |article| %>
      <div class="new_content">
        <div class="new_picture">
          <%= image_tag article.picture.to_s, :size => "150x150" %>
        </div>
        <div class="new_title">
          <%= link_to article.title, article %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="article">
    <div id="article_title">
      <%= @article.title %>
      <p class = "time"><%= @article.created_at.to_s %></p>
    </div>
    <div id="article_picture">
      <%= image_tag @article.picture.to_s, :size => "600x450" %>
    </div>
    <div id="article_text">
      <%= simple_format(@article.text) %>
    </div>
    <% if @before_article %>
      <p class = "show_btn before"><%= link_to '＜前の記事', "/articles/#{@before_article.id}" %></p>
    <% end %>
    <% if @next_article %>
      <p class = "show_btn next"><%= link_to '次の記事＞', "/articles/#{@next_article.id}" %></p>
    <% end %>
  </div>
</div>

<% if @current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Back', articles_path %>
<% end %>
