<!DOCTYPE html>
<html>
  <head>
    <title>ウサギのふーの部屋</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="title">
      <%= link_to image_tag("title.jpg", {:id => "blog_image"}), new_article_path %>
      <div id="blog_title">
        <h1>
          <%= link_to "ウサギのふーの部屋", root_path %>
        </h1>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
